In [1]:
import pandas as pd
import numpy as np

In [26]:
a = pd.read_csv("T_Test.csv")
b = pd.read_csv("CB.csv")

In [12]:
a

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,22.8,23.4,26.2,24.4,22.0,24.8,26.7,25.1,23.1,22.8,...,22.8,25.4,26.7,22.9,23.5,23.8,24.6,26.3,22.7,NaN
1,26.8,29.3,28.4,25.6,29.4,27.2,27.6,28.8,25.4,28.6,...,25.7,28.4,28.6,27.9,27.4,26.7,26.8,25.6,26.1,NaN

In [27]:
b

Empty DataFrame
Columns: [0.50715341,  0.5779675,  0.49150082,  0.49941647,  0.69048385,  0.46377689,  0.46075175,  0.69246371,  0.70119107,  0.60494232,  0.65942047,  0.38611268,  0.38989124,  0.59864133,  0.73302441,  0.55149175,  0.33996788,  0.3234381,  0.45906434,  0.5145058,  0.48988878,  0.52108468,  0.61546816,  0.48084925,  0.55634011,  0.54610418,  0.47637505,  0.62115146,  0.39170524,  0.58907326,  0.45214567,  0.78782491,  0.5588117,  0.73839836,  0.16224996,  0.40765296,  0.65991399,  0.4725211,  0.23194555,  0.76301125,  0.64071419,  0.53132377,  0.74609921,  0.43967552,  0.67910524,  0.25419833,  0.53909991,  0.6736499,  0.50303527,  0.41864135,  0.55876589,  0.40123981,  0.49586074,  0.61140871,  0.60126728,  0.58721555,  0.24896679,  0.25864544,  0.67533789,  0.5675155,  0.67983618,  0.5697909,  0.62985092,  0.34663036,  0.43158168,  0.64272466,  0.44374435,  0.39326291,  0.5336789,  0.60921128,  0.68136634,  0.37277883,  0.59828116,  0.3183207,  0.56226002,  0.7114828,  0.35041437,  0.39859923,  0.34411978,  0.83179234,  0.56140952,  0.36850569,  0.49804952,  0.42741109,  0.26891011,  0.69882202,  0.73740358,  0.39733766,  0.4571118,  0.6380069,  0.32517011,  0.46338304,  0.78390633,  0.27712664,  0.71647649,  0.55499561,  0.69167171,  0.55084653,  0.56396469,  0.536758]
Index: []

[0 rows x 100 columns]

In [28]:
len(b)

0

In [30]:
# Não pegar linha de cabeçalho

a.iloc[0]

Unnamed: 0     22.8
Unnamed: 1     23.4
Unnamed: 2     26.2
Unnamed: 3     24.4
Unnamed: 4     22.0
Unnamed: 5     24.8
Unnamed: 6     26.7
Unnamed: 7     25.1
Unnamed: 8     23.1
Unnamed: 9     22.8
Unnamed: 10    25.6
Unnamed: 11    25.1
Unnamed: 12    24.3
Unnamed: 13    24.3
Unnamed: 14    22.8
Unnamed: 15    23.2
Unnamed: 16    24.7
Unnamed: 17    26.5
Unnamed: 18    24.5
Unnamed: 19    23.6
Unnamed: 20    23.9
Unnamed: 21    22.8
Unnamed: 22    25.4
Unnamed: 23    26.7
Unnamed: 24    22.9
Unnamed: 25    23.5
Unnamed: 26    23.8
Unnamed: 27    24.6
Unnamed: 28    26.3
Unnamed: 29    22.7
Unnamed: 30     NaN
Name: 0, dtype: float64